@use "../../layout/homepage" as *;

.background {
  @include background;
  background-image: url("../../../assets/bannerPhotos/group.jpg");
}

.section-title {
  text-align: center;
  color: #39587a;
  margin-bottom: "2rem";
}
.serviceBtn {
  @include defaultButton;
}

.service-cards {
  img {
    object-fit: cover;
    height: 250px;
    width: auto;
  }
}

@media screen and (max-width: 545px) {
  // .banner-bg {
  //   background-size: auto 100%;
  //   width: 100%;
  // }

  .service-cards img {
    height: 300px;
  }
}
