$confirmed-color: rgb(255, 165, 0);
$completed-color: rgb(50, 205, 50);
$pending-color: rgb(220, 20, 60);

.completed {
  background-color: rgba($completed-color, 0.3);

  &:hover {
    background-color: adjust-color($completed-color, $alpha: -0.25);
  }
}

.confirmed {
  background-color: rgba($confirmed-color, 0.25);
  &:hover {
    background-color: adjust-color($confirmed-color, $alpha: -0.4);
  }
}

.pending {
  background-color: rgba($pending-color, 0.25);
  &:hover {
    background-color: adjust-color($pending-color, $alpha: -0.5);
  }
}
