@mixin primary-button {
    background: $salmon !important;
    border-color: $grey-blue !important;
    color: black !important;

    &:hover {
        background: lighten($salmon, 10%) !important;
    }
}

@mixin secondary-button {
    background: $light-grey !important;
    border-color: $grey-blue !important;
    color: black !important;

    &:hover {
        background: lighten($light-grey, 10%) !important;
    }
}

@mixin tertiary-button {
    background: $dark-blue !important;
    border-color: $salmon !important;
    color: white !important;

    &:hover {
        background: lighten($dark-blue, 10%) !important;
    }
}