// all variables like colours, size etc go here


// colours
$dark-blue: #39587A;
$grey-blue: #7997B8;
$mid-blue: #A9DFEB;
$light-blue: #EFFCFF;
$salmon: #FFC6AD;
$pink: #FFA983;
$red-orange: #FB8D56;
$green: #85FF83;
$light-grey: #E7E7E7;

