.banner {
  color: #39587a;
  text-align: center;
}

.header {
  @extend .banner;
  margin-top: 125px;
  font-size: 64px;
  line-height: 78px;
}

.body {
  @extend .banner;
  margin: auto;
  margin-bottom: 75px;
  font-size: 32px;
  line-height: 39px;
}
